

<template>
  <div class="card ">
    <div class="card-body ">
  
    <vue-good-table
      :columns="columns"
      :rows="rows"
       :search-options="{
          enabled: true
        }"
       
      :pagination-options="{
        enabled: true,
        mode: 'records'
      }"
  
  />
</div>
</div>
</template>



<script type="text/javascript">
	
import Swal from 'sweetalert2'





export default {
 
    created(){
    this.getAllItems();
   
   },data(){
    return {
      columns: [
        {
          label: 'Name',
          field: 'name',
        },
      
        {
          label: 'Category',
          field: 'category',
 
        },
        {
          label: 'Price',
          field: 'price',
 
        },
        {
          label: 'discount',
          field: 'discount',
 
        },
        {
          label: 'New Price',
          field: 'new',
 
        },
      
       
      ],
      rows: [
       
 
      ],
      
     
    }
    
   },
   methods: {
   
    getAllItems(){
      axios.get('/api/list-item')
              .then(res => {
              
                      res.data.forEach(item => {
                      
                        if(item.parent!=null)
                        category=item.parent.name
                        this.rows.push({
                            id: item.id,
                            name: item.name,
                            category: item.category.name,
                            price:item.price,
                            discount:item.price-item.new_price,
                            new:item.new_price,
                                  });
                       
                        });
              })
           .catch(({response:{data}})=>{
                alert(data.message)
            })
    },
       /* eslint-disable */

  /* eslint-disable */
}
      
}




</script>


