

<template>
    <div>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
              
     <li class="breadcrumb1-item">
        <a ><router-link :to="{name: 'discount-index'}" >Discount</router-link></a><i class="fa fa-angle-right mx-2 "></i>
    </li>
      <li class="breadcrumb1-item active">Create</li>
   </ol>
  </nav>               
<!-- Multi Column with Form Separator -->
<div class="card mb-4">
    <form class="card-body" action="javascript:void(0)" method="POST">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">name</label>
                <input required type="text"  v-model="data.name" name="name" id="multicol-name" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">value</label>
                <input required type="text"  v-model="data.value" name="name" id="multicol-name" class="form-control" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">status</label>
                <select required class="form-control" name="status" v-model="data.status">

                        <option value="Active" selected>Active</option>
                        <option value="UnActive"> Un Active</option>

                        </select>
            </div>
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">type</label>
                <select required class="form-control" name="type"  v-model="data.type">

                        <option value="percentage" selected>percentage</option>
                        <option value="numeric"> numeric</option>

                        </select>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name" >application type</label>
                <select required class="form-control" name="application"  @change="onChange($event)" v-model="data.application">

                        <option value="All Menu">All Menu</option>
                        <option value="Category/Subcategory"> Category/Subcategory</option>
                        <option value="Item"> Item</option>
                        </select>
            </div>
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name" > model</label>
                <select required class="form-control"  v-html="optionsList" v-model="data.model_id">
                    </select>
            </div>
           
        </div>
        <div class="row">
            <div class="pt-5 col-md-6 d-flex justify-content-around justify-content-sm-start">
             
                <button type="submit" class="mx-1 btn btn-primary" @click="createDiscount">save</button>
            </div>
            <div class="pt-5 col-md-6 d-flex justify-content-around justify-content-sm-end">

                <a  class="mx-1 btn btn-label-secondary"> <router-link :to="{name: 'discount-index'}" style="color: white;">cancel</router-link> </a>
            </div>
        </div>
    </form>
</div>



</div>

</template>



<script type="text/javascript">
	
import Swal from 'sweetalert2'





export default {
 
    created(){
         this.getAllMenus();
         this.getAllcategories();
         this.getAllItems();
   },data(){
    return {
        data:{name:"",value:0,type:"percentage",status:"Active",application:"",model_id:0},
        menus:[],
        categories:[],
        items:[],
        optionsList: ''
    
   }
  },
   methods: {
     createDiscount(){
             axios.post('/api/create-discount',this.data).then(({response})=>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Add"
                   })
                   this.$router.push({name:"discount-index"}) 
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
        },
        onChange(event) {
           
            this.optionsList=''
            switch (this.data.application) {
          case 'All Menu':
           this.menus.forEach(item => {
            this.optionsList =   this.optionsList +' <option value='+item.id+'>'+item.name+'</option>'
           }); 
            break;
          case 'Category/Subcategory':
            this.categories.forEach(item => {
                this.optionsList =   this.optionsList + ' <option value='+item.id+'>'+item.name+'</option>'
            });
            break;
          case 'Item':
                this.items.forEach(item => {
                    this.optionsList =   this.optionsList+' <option value='+item.id+'>'+item.name+'</option>'
                });
                    break;
            }
        },
        getAllMenus(){
            axios.get('/api/list-menu')
                    .then(res => {
                       
                            res.data.forEach(item => {
                              
                                this.menus.push({
                                    id: item.id,
                                    name: item.name,
                                        });
                                });
                    })
                .catch(({response:{data}})=>{
                        alert(data.message)
                    })
         },
        getAllcategories(){
            axios.get('/api/list-category')
                    .then(res => {
                            res.data.forEach(item => {
                             
                                this.categories.push({
                                    id: item.id,
                                    name: item.name,
                                        });
                                });
                    })
                .catch(({response:{data}})=>{
                        alert(data.message)
                    })
         },
        getAllItems(){
            axios.get('/api/list-item')
                    .then(res => {
                            res.data.forEach(item => {
                                this.items.push({
                                    id: item.id,
                                    name: item.name,
                                        });
                                });
                    })
                .catch(({response:{data}})=>{
                        alert(data.message)
                    })
          },
      }

  
  /* eslint-disable */
}
      





</script>


