

<template>
    <div>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
              
     <li class="breadcrumb1-item">
        <a ><router-link :to="{name: 'discount-index'}" >Discount</router-link></a><i class="fa fa-angle-right mx-2 "></i>
    </li>
      <li class="breadcrumb1-item active">Update</li>
   </ol>
  </nav>               
<!-- Multi Column with Form Separator -->
<div class="card mb-4">
    <form class="card-body" action="javascript:void(0)" method="POST">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">name</label>
                <input required type="text"  v-model="data.name" name="name" id="multicol-name" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">value</label>
                <input required type="text"  v-model="data.value" name="name" id="multicol-name" class="form-control" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">status</label>
                <select required class="form-control" name="status" v-model="data.status">

                        <option value="Active" selected>Active</option>
                        <option value="UnActive"> Un Active</option>

                        </select>
            </div>
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">type</label>
                <select required class="form-control" name="type"  v-model="data.type">

                        <option value="percentage" selected>percentage</option>
                        <option value="numeric"> numeric</option>

                        </select>
            </div>
        </div>
       
        <div class="row">
            <div class="pt-5 col-md-6 d-flex justify-content-around justify-content-sm-start">
             
                <button type="submit" class="mx-1 btn btn-primary" @click="updateDiscount">save</button>
            </div>
            <div class="pt-5 col-md-6 d-flex justify-content-around justify-content-sm-end">

                <a  class="mx-1 btn btn-label-secondary"> <router-link :to="{name: 'discount-index'}" style="color: white;">cancel</router-link> </a>
            </div>
        </div>
    </form>
</div>



</div>

</template>



<script type="text/javascript">
	
import Swal from 'sweetalert2'





export default {
 
    created(){
       
        this.getdiscount( this.$route.params.id);
       
       
   },data(){
    return {
        data:{name:"",value:0,type:"",status:"",application:"",model_id:0},
       
    
   }
  },
   methods: {
     updateDiscount(){
             axios.post('/api/edit-discount',this.data).then(({response})=>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Add"
                   })
                   this.$router.push({name:"discount-index"}) 
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
        },
        getdiscount(id){
            axios.get('/api/edit-discount/'+id).then(res => {
               this.data.id=res.data.id;
               this.data.name=res.data.name;
               this.data.value=res.data.value;
               this.data.type=res.data.type;
               this.data.status=res.data.status;
               this.data.application=res.data.application;
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
        }
      
   
      }

  
  /* eslint-disable */
}
      





</script>


