

<template>
  <div class="card ">
    <div class="card-body ">
    <div class="row  " style="margin-right: -5rem !important;">
    <div class="col-9 b-2"></div>
    <div class="col-3 mb-3 ">
    
       <div class="dt-buttons btn-group flex-wrap">
        <button class="btn btn-secondary add-new btn-primary ms-3" tabindex="0" aria-controls="holiday_table" type="button">
        <span><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
        <span class="d-none d-sm-inline-block"> 
          <router-link :to="{name: 'discount-create'}" style="color: white;">Add Discount</router-link></span>
            </span>
          </button> 
        </div>
    </div>
</div>
    <vue-good-table
      :columns="columns"
      :rows="rows"
       :search-options="{
          enabled: true
        }"
       
      :pagination-options="{
        enabled: true,
        mode: 'records'
      }"
   @on-cell-click="onCellClick"
  />
</div>
</div>
</template>



<script type="text/javascript">
	
import Swal from 'sweetalert2'





export default {
 
    created(){
    this.getAllDiscount();
   
   },data(){
    return {
      columns: [
        {
          label: 'Name',
          field: 'name',
        },
        {
          label: 'value',
          field: 'value',
 
        },
        {
          label: 'type',
          field: 'type',
 
        },
        {
          label: 'status',
          field: 'status',
 
        },
        {
          label: 'application type',
          field: 'application',
 
        },
        {
          label: 'model',
          field: 'model',
 
        },
        {
          label: 'Action',
          field: 'btn',
          html: true,
        }
       
      ],
      rows: [
       
 
      ],
       deleteid:{id:"" },
    }
    
   },
   methods: {
    getAllDiscount(){
      axios.get('/api/list-discount')
              .then(res => {
                
                      res.data.forEach(item => {
                        
                        this.rows.push({
                            id: item.id,
                            name: item.name,
                            value: item.value,
                            type: item.type,
                            status: item.status,
                            model: item.modelable.name,
                            application: item.application,
                            btn: '<i id="del" class="btn btn-danger m-1 px-3 py-1 shadow-card fa-regular vtl-icon vtl-icon-trash m-2 " style="font-size:15px;color:red"></i> <i id="edit" class="far fa-edit m-1" style="font-size:28px;"></i> ',
                        })
                       
                        });
              })
           .catch(({response:{data}})=>{
                alert(data.message)
            })
    },
       /* eslint-disable */
  onCellClick(params) {

      if(params.event.target.id=='del'){
       
           Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
          
            this.deleteid.id=params.row.id
             axios.post('/api/delete-discount',this.deleteid).then(({data})=>{
              this.rows = this.rows.filter(an => {
                  return an.id != params.row.id
                })
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
            }).catch(({response:{data}})=>{
             
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
              
              
              }
            })
      
      }
      if(params.event.target.id=='edit'){
        this.$router.push({name:"discount-edit", params: { id:params.row.id }}) 
      }

  }
  /* eslint-disable */
}
      
}




</script>


