<template>
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
            <div>
                ©
                made with ❤️ by Fatima Osman
            </div>
            
        </div>
    </div>
</footer>
<!-- / Footer -->
</template>

<script>

</script>