<template>
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <Menu ></Menu>
          
            <div class="layout-page">
                  <Navbar ></Navbar>
           <!-- Content wrapper -->
           <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                       
                        <router-view></router-view>
                        </div>
                        <Footer ></Footer>

                  </div>
                  </div>
      </div>
      </div>
</template>

<script>
export default {
    name:"dashboard",
    data(){
        return {
            user:this.$store.state.auth.user
        }
    }
}
</script>