<template>
<div id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="" class="app-brand-link">
            <span class="app-brand-logo demo">

               
            </span>
            <span class="app-brand-text demo menu-text fw-bold">Resturent</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>
    <ul class="menu-inner py-1">
        <li class="menu-item ">
            <a  class="menu-link">
            <i class="menu-icon tf-icons ti ti-notes"></i>
            
                <div><router-link :to="{name: 'menu-index'}"  >Menus</router-link></div>
            </a>
        </li>
        <li class="menu-item ">
            <a  class="menu-link">
            <i class="menu-icon tf-icons ti ti-layout-sidebar"></i>
            
                <div><router-link :to="{name: 'category-index'}"  >Categories & SubCategory</router-link></div>
            </a>
        </li>

        <li class="menu-item ">
            <a  class="menu-link">
            <i class="menu-icon tf-icons ti ti-report-money"></i>
            
                <div><router-link :to="{name: 'discount-index'}"  >Discount</router-link></div>
            </a>
        </li>

        <li class="menu-item ">
            <a  class="menu-link">
            <i class="menu-icon tf-icons ti ti-report-money"></i>
            
                <div><router-link :to="{name: 'item-index'}"  >Items</router-link></div>
            </a>
        </li>
    </ul>

</div>
</template>

<script>

</script>