<template>
  <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    

        <ul class="navbar-nav flex-row align-items-center ms-auto">
         
            <!-- Style Switcher -->
            <li class="nav-item me-2 me-xl-0">
                <a class="nav-link style-switcher-toggle hide-arrow" @click="logout">
                    <span class="align-middle">Logout</span>
                </a>
            </li>
            <!--/ Style Switcher -->


         
        </ul>
    </div>

 
</nav>
</template>

<script>
import {mapActions} from 'vuex'
import Cookies from 'js-cookie'
export default {
    name:"navbar",
    data(){
        return {
            user:this.$store.state.auth.user
        }
    },
    methods:{
        ...mapActions({
            signOut:"auth/logout"
        }),
        async logout(){
            await axios.post('/logout').then(({data})=>{
                this.signOut()
                Cookies.remove('access_token', { path: '/' })
                this.$router.push({name:"login"})
            })
        }
    }
}
</script>