<template>
      <div >
        <router-view></router-view>
      </div>
</template>

<script>
export default {
    name:"dashboard-layout",
    data(){
        return {
            user:this.$store.state.auth.user
        }
    }
}
</script>