

<template>
    <div>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
              
     <li class="breadcrumb1-item">
        <a ><router-link :to="{name: 'menu-index'}" >Menus</router-link></a><i class="fa fa-angle-right mx-2 "></i>
    </li>
      <li class="breadcrumb1-item active">Create</li>
   </ol>
  </nav>               
<!-- Multi Column with Form Separator -->
<div class="card mb-4">
    <form class="card-body" action="javascript:void(0)" method="POST">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label required" for="multicol-name">name</label>
                <input required type="text"  v-model="data.name" name="name" id="multicol-name" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="pt-5 col-md-6 d-flex justify-content-around justify-content-sm-start">
             
                <button type="submit" class="mx-1 btn btn-primary" @click="createMenue">save</button>
            </div>
            <div class="pt-5 col-md-6 d-flex justify-content-around justify-content-sm-end">

                <a  class="mx-1 btn btn-label-secondary"> <router-link :to="{name: 'menu-index'}" style="color: white;">cancel</router-link> </a>
            </div>
        </div>
    </form>
</div>



</div>

</template>



<script type="text/javascript">
	
import Swal from 'sweetalert2'





export default {
 
    created(){
   
   },data(){
    return {
        data:{name:""},
    
   }
  },
   methods: {
    async createMenue(){
            await axios.post('/api/create-menu',this.data).then(({response})=>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Add"
                   })
                   this.$router.push({name:"menu-index"}) 
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
        },
      }

  
  /* eslint-disable */
}
      





</script>


