<template>

    <div>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
              
     <li class="breadcrumb1-item">
        <a ><router-link :to="{name: 'menu-index'}" >Menus</router-link></a><i class="fa fa-angle-right mx-2 "></i>
    </li>
      <li class="breadcrumb1-item active">view Menu</li>
   </ol>
  </nav>               

<div class="card mb-4">
    <div class="card-body">
       
    
      <vue-tree-list
        :model="model"
        v-bind:default-expanded="false"
      >
        <template v-slot:leafNameDisplay="slotProps">
          <span>
            {{ slotProps.model.name }}
          </span>
        </template>
      
      </vue-tree-list>
   
     
    </div>
    </div>

 
 

    </div>
  </template>
  
  <script>
    import { VueTreeList, Tree, TreeNode } from 'vue-tree-list'
    import Swal from 'sweetalert2'
 
    export default {
      components: {
        VueTreeList 
      },
      created(){
        this.menu_id=this.$route.params.id;
         this.getAllCategories();
   
   },
      data() {
        return {
             menu_id:0,
             model: new Tree([ ]),
             children: [   ], 
        }
      },
      methods: {
        childrenRecursive(item,node){
          node.children=null;
          this.children=[];
          item.children_recursive.forEach((res,index) => {
            this.children=[];
           
          
           if( node.children==null){
           
                var child = new TreeNode({ id:res.id,name:res.name, isLeaf:false ,pid:res.category_id ,children:null,parent:null,    addTreeNodeDisabled: true,
                                    addLeafNodeDisabled: true,
                                    editNodeDisabled: true,
                                    delNodeDisabled: true})          
                this.children.push(child)
                node.children=  this.children
        }
          else{         
          
               var child = new TreeNode({ id:res.id,name:res.name, isLeaf:false ,pid:res.category_id ,parent:null,    addTreeNodeDisabled: true,
                                        addLeafNodeDisabled: true,
                                        editNodeDisabled: true,
                                        delNodeDisabled: true})          
               node.children.push(child)
           }
        
            return this.childrenRecursive(res,node.children[index])
          })
          item.items.forEach((res,index) => {
            this.children=[];
           
          
           if( node.children==null){
           var name=res.name+" /price:"+res.price+" /discount:"+(res.price-res.new_price);
         
                var child = new TreeNode({ id:res.id,name:name, isLeaf:true ,pid:res.category_id ,children:null,parent:null,    addTreeNodeDisabled: true,
                                            addLeafNodeDisabled: true,
                                            editNodeDisabled: true,
                                            delNodeDisabled: true})          
                this.children.push(child)
                node.children=  this.children
        }
          else{   
            var name=res.name+" /price:"+res.price+" /discount:"+(res.price-res.new_price);
            
          
               var child = new TreeNode({ id:res.id,name:name, isLeaf:true ,pid:res.category_id ,parent:null ,addTreeNodeDisabled: true, addLeafNodeDisabled: true,
                                            editNodeDisabled: true,
                                            delNodeDisabled: true})          
               node.children.push(child)
           }
        
           
          })
        },
        getAllCategories(){
            axios.get('/api/list-categorywithlevel')
                  .then(res => {
                   
                          res.data.forEach(item => {
                            
                            var node = new TreeNode({ id:item.id,name:item.name, isLeaf: false ,children:this.children,addLeafNodeDisabled: true, addTreeNodeDisabled: true,addLeafNodeDisabled: true,
                                                       editNodeDisabled: true,
                                                       delNodeDisabled: true})
                            this.childrenRecursive(item,node);
                            this.model.addChildren(node)
                            this.children=[]
                          
                            });
                  })
              .catch(({response:{data}})=>{
                    alert(data.message)
                })
            },
   
  
        getNode(children,id){
       
          if (Array.isArray(children)) {
              // Yes, check them
              for (const childNode of children) {
                  if (childNode.id === id) {
                      // Found it
                    
                      return childNode;
                  }
                  // Look in this node's children
                  const found = this.getNode(childNode.children,id);
                  if (found) {
                      // Found in this node's children
                      return found;
                  }
              }
          }

        }
      }
    }
  </script>
  
  <style >
    .vtl {
      .vtl-drag-disabled {
        background-color: #d0cfcf;
        :hover {
          background-color: #d0cfcf;
        }
      }
      .vtl-disabled {
        background-color: #d0cfcf;
      }
    }

   
  
    .muted {
      color: gray;
      font-size: 80%;
    }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  </style>