<template>

    <div>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
              
     <li class="breadcrumb1-item">
        <a ><router-link :to="{name: 'menu-index'}" >Menus</router-link></a><i class="fa fa-angle-right mx-2 "></i>
    </li>
      <li class="breadcrumb1-item active">Mange Categories</li>
   </ol>
  </nav>               

<div class="card mb-4">
    <div class="card-body">
        <button @click="addNode" class="btn btn-secondary add-new btn-primary ms-3 m-3" tabindex="0" aria-controls="holiday_table" type="button">
        <span><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
        <span class="d-none d-sm-inline-block"> 
           Add Category</span>
            </span>
          </button> 
    
      <vue-tree-list
        @click="onClick"
        @change-name="onChangeName"
        @end-edit="onEndEdit"
        @delete-node="onDel"
        @add-node="onAddNode"
        :model="model"
        default-tree-node-name="new category"
        default-leaf-node-name="new item"
        v-bind:default-expanded="false"
      >
        <template v-slot:leafNameDisplay="slotProps">
          <span>
            {{ slotProps.model.name }}
          </span>
        </template>
        <span class="icon" slot="addTreeNodeIcon" >📂 add sub category  </span>
        <span class="icon" slot="addLeafNodeIcon"  @click="addleaf"><i class="vtl-icon vtl-menu-icon vtl-icon-file"></i>add item </span>
        <span class="icon" slot="editNodeIcon">📃</span>
        <span class="icon" slot="delNodeIcon"><i class="vtl-icon vtl-icon-trash"></i></span>
        <span class="icon" slot="leafNodeIcon"> <i class="vtl-icon vtl-menu-icon vtl-icon-file"></i></span>
        <span class="icon" slot="treeNodeIcon">📂</span>
      </vue-tree-list>
   
     
    </div>
    </div>

 
    <transition name="modal" v-if="showModal">
        <div class="modal" style="display: block">
          <div class="modal modal-mask" style="display: block">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <slot name="header"></slot>
              </div>
              
              <div class="modal-body">
                <p class="my-4">{{ NameModal }}</p>
                  <div class="col-md-12">
                        <label class="form-label required" for="multicol-name">name</label>
                        <input required type="text"   v-model="item.name" name="name" id="multicol-name" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <label class="form-label required" for="multicol-name">price</label>
                        <input required type="text"   v-model="item.price" name="name" id="multicol-name" class="form-control" />
                    </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" @click="closeModal()"> Close </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="submitAndClose()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
    </transition> 

    </div>
  </template>
  
  <script>
    import { VueTreeList, Tree, TreeNode } from 'vue-tree-list'
    import Swal from 'sweetalert2'
 
    export default {
      components: {
        VueTreeList 
      },
      created(){
        this.menu_id=this.$route.params.id;
         this.getAllCategories();
   
   },
      data() {
        return {
             category:{name:"",menu_id:"",id:""},
             subcategory:{name:"",menu_id:"",id:"",category_id:""},
             newTree: {},
             menu_id:0,
             model: new Tree([ ]),
             deleteid:{id:"" },
             children: [   ], 
            showModal: false ,
            NameModal: "" ,
            params:{},
            item:{name:"",price:0,category_id:"",id:null}
        }
      },
      methods: {
        childrenRecursive(item,node){
          node.children=null;
          this.children=[];
          item.children_recursive.forEach((res,index) => {
            this.children=[];
           
          
           if( node.children==null){
           
                var child = new TreeNode({ id:res.id,name:res.name, isLeaf:false ,pid:res.category_id ,children:null,parent:null})          
                this.children.push(child)
                node.children=  this.children
        }
          else{         
          
               var child = new TreeNode({ id:res.id,name:res.name, isLeaf:false ,pid:res.category_id ,parent:null})          
               node.children.push(child)
           }
        
            return this.childrenRecursive(res,node.children[index])
          })
          item.items.forEach((res,index) => {
            this.children=[];
           
          
           if( node.children==null){
           
                var child = new TreeNode({ id:res.id,name:res.name, isLeaf:true ,pid:res.category_id ,children:null,parent:null})          
                this.children.push(child)
                node.children=  this.children
        }
          else{         
          
               var child = new TreeNode({ id:res.id,name:res.name, isLeaf:true ,pid:res.category_id ,parent:null})          
               node.children.push(child)
           }
        
           
          })
        

        },
        getAllCategories(){
            axios.get('/api/list-categorywithlevel')
                  .then(res => {
                  
                          res.data.forEach(item => {
                            
                            var node = new TreeNode({ id:item.id,name:item.name, isLeaf: false ,children:this.children})
                            this.childrenRecursive(item,node);
                            this.model.addChildren(node)
                            this.children=[]
                          
                            });
                  })
              .catch(({response:{data}})=>{
                    alert(data.message)
                })
            },
       
        onDel(node) {
         
           
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                this.deleteid.id=node.id;
                if(!node.isLeaf){var url='/api/delete-category'}else{var url='/api/delete-item'}
             axios.post(url,this.deleteid).then(data=>{
           
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
                node.remove()
            }).catch(({response:{data}})=>{
             
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
            
              
              
              }
            })
      
          
        },
  
        onChangeName(params) {
        
          if(params.eventType && (!params.isLeaf)){

            this.category.name=params.newName
            this.category.id=params.id
            this.category.menu_id=this.menu_id
            axios.post('/api/edit-category',this.category).then(({response})=>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Update"
                   })
               
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
          }
          
       
        },
        onEndEdit(params){
        
        },
    
        onAddNode(params) {
       
          if(!params.isLeaf){

            var ismixed=false
            params.parent.children.forEach(item => {
                if(item.isLeaf)ismixed=true
            });
            if(!ismixed){
          this.subcategory.name=params.name
          this.subcategory.menu_id=this.menu_id
          this.subcategory.category_id=params.parent.id
          this.subcategory.id=params.id;

          axios.post('/api/create-category',this.subcategory).then(res =>{ 
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Add"
                   })
                  
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:"The Maximum level of subcategories is four",
                            icon: "error",
                            button: "Close",
                        })
                        params.remove()
              
            }).finally(()=>{
                
            })
          }else{
            params.remove()
            Swal.fire({
                            title:"Category or subcategory must not have mixed children",
                            icon: "error",
                            button: "Close",
                        })
          }
          }else{
            params.remove()
            var ismixed=false
            params.parent.children.forEach(item => {
                if(!item.isLeaf)ismixed=true
            });
            if(ismixed){
              this.showModal = false;
              Swal.fire({
                            title:"Category or subcategory must not have mixed children",
                            icon: "error",
                            button: "Close",
                        })
              
            }else{
              this.addleaf(params)
            }
          }
      
        },
        onClick(params) {
         
          if(params.isLeaf){
            this.getItem(params.id);
            this.NameModal="Edit Item"
            this.showModal = true;
        
        
          
          }
        },
        createCategory(newCategory){
            axios.post('/api/create-category',newCategory).then(res =>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Add"
                   })
                 
                   var node = new TreeNode({ id:res.data.id,name: 'new category', isLeaf: false })
                        if (!this.model.children) this.model.children = []
                        this.model.addChildren(node)
                 //  this.$router.push({name:"category-index"}) 
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
        },
        addNode() {
                this.category.name="new category"
                this.category.menu_id=this.menu_id
               this.createCategory(this.category)
        },
        addleaf(params){
          this.showModal = true;
          this.NameModal="Add Item"
          this.params=params
        
        },
        closeModal() {
          this.showModal = false;
          this.params={};
          this.item={name:"",price:0,category_id:"",id:null}
        },
        submitAndClose() {
          this.showModal = false;
         
          if( this.item.id==null){
          this.item.id=this.params.id 
          this.item.category_id=this.params.pid
          axios.post('/api/create-item',this.item).then(res =>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Add"
                   })
                 
                   this.params.name=this.item.name
                   this.params.editNodeDisabled=true
                   this.params.parent.addChildren(this.params)
                   this.params={}
                   this.item={name:"",price:0,category_id:"",id:null}
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
          }else{
           
             axios.post('/api/edit-item',this.item).then(({response})=>{
                    this.$Toast.fire({
                         icon: 'success',
                        title: "successfly Update"
                   })
                   this.getNode(this.model.children,this.item.id).changeName(this.item.name);
                  
                   this.item={name:"",price:0,category_id:"",id:null}
                 
                
            }).catch(({response:{data}})=>{
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
          }
        },
        getItem(id){
    
          axios.get('/api/edit-item'+id)
                .then(res => {
                
                  this.item.name=res.data.name 
                  this.item.price=res.data.price 
                  this.item.category_id=res.data.category_id 
                  this.item.id=res.data.id 
                })
            .catch(({response:{data}})=>{
                  alert(data.message)
              })  
        },
  
        getNode(children,id){
        
          if (Array.isArray(children)) {
              // Yes, check them
              for (const childNode of children) {
                  if (childNode.id === id) {
                      // Found it
                    
                      return childNode;
                  }
                  // Look in this node's children
                  const found = this.getNode(childNode.children,id);
                  if (found) {
                      // Found in this node's children
                      return found;
                  }
              }
          }

        }
      }
    }
  </script>
  
  <style >
    .vtl {
      .vtl-drag-disabled {
        background-color: #d0cfcf;
        :hover {
          background-color: #d0cfcf;
        }
      }
      .vtl-disabled {
        background-color: #d0cfcf;
      }
    }

   
  
    .muted {
      color: gray;
      font-size: 80%;
    }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  </style>