<template>

<div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Login -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center mb-4 mt-2">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                  
                                </span>
                                <span class="app-brand-text demo text-body fw-bold my-1 ms-1">Resturent</span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <form id="formAuthentication" class="mb-3" action="javascript:void(0)"  method="POST">
                           
                            <div class="mb-3">
                                <label for="email" class="form-label">Email or Username</label>
                                <input type="text" class="form-control" id="email"  name="email" v-model="auth.email" placeholder="Enter your email or username" autofocus />
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="multicol-password">password</label>
                                    
                                </div>
                                <div class="input-group input-group-merge">
                                    <input required name="password" v-model="auth.password" type="password" id="multicol-password" class="form-control" placeholder="Please enter password" aria-describedby="multicol-password2" />
                                    <span class="input-group-text cursor-pointer" id="multicol-password2"><i class="ti ti-eye-off"></i></span>
                                </div>
                            </div>
                        
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit" :disabled="processing" @click="login">Sign in</button>
                            </div>

                        </form>

                    </div>
                    <div class="card-footer">
                        <p class="clearfix mb-0 d-flex justify-content-center mt-2" style="direction: ltr;">
                            <span class="float-md-start d-block d-md-inline-block mt-25">
                                Powered By Fatima Osman
                            </span>
                        </p>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
</template>

<script>


import { mapActions } from 'vuex'
import Cookies from 'js-cookie'
import Swal from 'sweetalert2'
export default {
    name:"login",
    data(){
        return {
            auth:{
                email:"",
                password:""
            },
            processing:false
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/login'
        }),
        async login(){
            this.processing = true
            await axios.get('/sanctum/csrf-cookie')
            await axios.post('/login',this.auth).then(({data})=>{
                if(data.success==false){
                    Swal.fire({
                            title:"Username or Passowrd is wornd",
                            icon: "error",
                            button: "Close",
                        })
                }else{
                const token = data.access_token
                localStorage.setItem('access_token', token)
                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`
                Cookies.set('access_token',token, { path: '/' })
                axios.interceptors.request.use(
                config => {
                    config.headers['Authorization'] = `Bearer ${token}`;
                        return config;
                    },
                    error => {
                        return Promise.reject(error);
                    }
                );
                this.signIn()
                }

            }).catch(({response:{data}})=>{
                alert(data.message)
            }).finally(()=>{
                this.processing = false
            })
        },
    }
}
</script>