

<template>
  <div class="card ">
    <div class="card-body ">
  
    <vue-good-table
      :columns="columns"
      :rows="rows"
       :search-options="{
          enabled: true
        }"
       
      :pagination-options="{
        enabled: true,
        mode: 'records'
      }"
   @on-cell-click="onCellClick"
  />
</div>
</div>
</template>



<script type="text/javascript">
	
import Swal from 'sweetalert2'





export default {
 
    created(){
    this.getAllCategories();
   
   },data(){
    return {
      columns: [
        {
          label: 'Name',
          field: 'name',
        },
        {
          label: 'Menue',
          field: 'menu',
 
        },
        {
          label: 'Category',
          field: 'category',
 
        },
      
       
      ],
      rows: [
       
 
      ],
      
       deleteid:{id:"" },
    }
    
   },
   methods: {
   
    getAllCategories(){
      axios.get('/api/list-category')
              .then(res => {
              
                      res.data.forEach(item => {
                        var category="No Exist"
                        if(item.parent!=null)
                        category=item.parent.name
                        this.rows.push({
                            id: item.id,
                            name: item.name,
                            menu: item.menu.name,
                            category:category
                                  });
                       
                        });
              })
           .catch(({response:{data}})=>{
                alert(data.message)
            })
    },
       /* eslint-disable */
  onCellClick(params) {

      if(params.event.target.id=='del'){
       
           Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
          
            this.deleteid.id=params.row.id
             axios.post('/api/delete-category',this.deleteid).then(({data})=>{
              this.rows = this.rows.filter(an => {
                  return an.id != params.row.id
                })
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
            }).catch(({response:{data}})=>{
             
                Swal.fire({
                            title:data.message,
                            icon: "error",
                            button: "Close",
                        })
            }).finally(()=>{
                
            })
              
              
              }
            })
      
      }
      if(params.event.target.id=='edit'){
        this.$router.push({name:"category-edit", params: { id:params.row.id }}) 
      }
      if(params.event.target.id=='view'){
        this.$router.push({name:"category-view", params: { id:params.row.id }}) 
      }


  }
  /* eslint-disable */
}
      
}




</script>


